---
- name: add toolchain repository for recent compiler versions
  become: True
  become_user: root
  apt_repository:
    repo: ppa:ubuntu-toolchain-r/test
    state: present

- name: Install fleur dependencies
  become: true
  become_user: "{{ root_user }}"
  apt:
    name:
      - build-essential
      - gfortran-6
      - g++-6 
      - gcc-6 
      - openmpi-bin
      - libopenmpi-dev
      - liblapack-dev
      - libblas-dev
      - binutils-gold 
      - git 
      - cmake 
      - libxml2-dev 
      - doxygen

- name: Get fleur source
  unarchive:
    src: "{{ fleur_url }}"
    dest: "{{ fleur_code_folder }}"
    remote_src: yes

  # note: this does not throw an error, even if configure fails...
- name: Configure fleur
  shell: FC=gfortran-6 ./configure.sh AUTO
  args:
    chdir: "{{ fleur_topdir }}"
    creates: "{{ fleur_topdir }}/build/Makefile"

- name: Make fleur executables
  shell: "make"
  args:
    chdir: "{{ fleur_topdir }}/build"
    creates: "{{ fleur_topdir }}/build/fleur"
  register: fleur_make

- import_tasks: tests.yml
  when: fleur_make.changed and run_tests is defined and run_tests
